.banner-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSee-Banner {
    width: 100%;
    margin: 0;
    object-fit: cover;
    border-radius: 25px;
    filter : contrast(80%)
}

h1 {
    position: relative;
    top:-38%;
    color:white;
}