.imgSee-Banner {
    width: 100%;
    margin: 0;
    object-fit: cover;
    border-radius: 25px;
    filter : contrast(80%)
}

.seeBanner-Title {
    position: absolute;
    bottom: 50px;
    color:$color-text;
}