.collapse-element {
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 5px;
}

.collapse-title {
    color:$color-text;
}

.collapse-text {
    padding: 20px;
    text-align: left;
    background-color: $background-color;
    border-radius: 5px;
}

.collapse-btn {
    border:transparent;
    background: transparent;
    cursor: pointer;
}

.collapse {
    margin-bottom: 20px;
}

.open {
     .collapse-img {
         transition: 0.3S all;
         transform: rotate(180deg);
    }
}

.close {
    .collapse-img {
        transition: 0.7s all;
    }
}

.slidedown {
    animation: slidedown 0.7s ;
}

.slideup {
    animation: slideup 0.7s;
}

@keyframes slidedown {
    from {
        opacity: 0;
        transform:translateY(-50px);
    }
    to {
        opacity:1;
        transform:translateY(0px);
    }
}

@keyframes slideup {
    from {
        opacity:1;
        transform:translateY(0px);
    } to {
        opacity: 0;
        transform:translateY(-50px);
    }

}