.error-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile-only {
        margin-top: 100px;
        width: max-content;
    }
}

.error-link {
    margin: 150px 0px;
    @include mobile-only {
        margin: 100px 0;
    }
}

