.slider-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.slider-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}


.left {
    transform: rotate(90deg);
    img{
        height: 50px;
    }
}

.right {
    transform: rotate(-90deg);
    img{
        height: 50px;
    }
}

.pagination {
    align-self: flex-end;
    color : $text-color;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}