.lodging-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8%;
    img{
        height: 64px;
        border-radius: 32px;
        object-fit: cover;
        @include mobile-only {
            height: 40px;
        }
    }
    p{
        width: 84px;
        text-align: right;
        margin-right: 10px;
    }
    @include mobile-only {
        margin-bottom: 0;
    }
    @include tablet-only {
        margin-bottom: 0;
    }
}

.lodging-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mobile-only {
        flex-direction: row-reverse;
        align-items: center;
        margin: 4% 0;
    }
    @include tablet-only {
        align-items: center;
        margin: 0;
    }
}

.lodging-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        @include mobile-only {
            margin: 10px 0;
        }
        @include tablet-only {
            margin: 14px 0;
        }
    }
}

.tags-element {
    color:$text-color;
    background-color: $primary-color;
    margin: 4px 10px 0px 0px;
    padding: 5px 30px;
    border-radius: 12px;
    @include mobile-only {
        border-radius: 5px;
        padding: 5px 12px;
    }
    @include tablet-only {
        border-radius: 5px;
        padding: 5px 12px;
    }
}

.rating-list {
    .rating {
        margin-left: 10px;   
        height: 26px;
        @include mobile-only {
            margin-left:6px;
            height: 20px;
        }
        @include tablet-only {
            margin-left:6px;
            height: 24px;
        }
    }
    @include tablet-only {
        margin-top: 10px;
    }
}