.lodging-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        height: 64px;
        border-radius: 32px;
        object-fit: cover;
    }
    p{
        width: 84px;
        text-align: right;
        margin-right: 10px;
    }
}

.lodging-wrapper-component {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.tags-element {
    color:$text-color;
    background-color: $primary-color;
    margin-right: 10px;
    padding: 5px 30px;
    border-radius: 12px;
}

.equipments {
    color:green;
}