.collapse-element {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 5px;
    z-index: 10;
    position: relative;
}

.collapse-title {
    color:$text-color;
}

.collapse-text {
    padding: 20px;
    text-align: left;
    background-color: $background-color;
    border-radius: 5px;
    height: 70%;
}

ul {
    list-style-type: none;
}

.collapse-btn {
    border:transparent;
    background: transparent;
    cursor: pointer;
}

.collapse {
    margin-bottom: 20px;
}

.open {
     .collapse-img {
         transition: 0.3S all;
         transform: rotate(180deg);
    }
}

.close {
    .collapse-img {
        transition: 0.7s all;
    }
}

.slidedown {
    animation: slidedown 0.7s forwards;
    overflow: hidden;
}

.slideup {
    animation: slideup 0.7s forwards;
    overflow: hidden;
}

@keyframes slidedown {
    from {
        max-height: 0px;
        opacity: 0;
        transform:translateY(-50px);
        padding: 0 20px;
    }
    to {
        max-height: 250px;
        opacity:1;
        transform:translateY(0px);
        padding: 20px;
    }
}

@keyframes slideup {
    from {
        max-height: 250px;
        opacity:1;
        transform:translateY(0px);
        padding: 20px;
    } to {
        opacity: 0;
        transform:translateY(-50px);
        max-height: 0px;
        padding: 0 20px;
    }

}