.error-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile-only {
        margin-top: 100px;
    }
    @include tablet-only {
        margin-top: 100px;
    }
}

.error-link {
    margin: 150px 0px;
    @include mobile-only {
        margin: 100px 0;
    }
    @include tablet-only {
        margin: 100px 0;
    }
}

.error-text {
    @include mobile-only {
        text-align: center;
    }
    @include tablet-only {
        text-align: center;
    }
}
