@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Overpass:wght@400;700&display=swap');

* {
    font-family: 'Montserrat';
    font-weight: 500;
}

nav {
    font-size: 24px;
}

.banner-title {
    font-size: 36px;
}

.card-title {
    font-size: 18px; 
}

.footer-title {
    font-size: 16px;
}

.collapse-title {
    font-size: 24px;
}

.lodging {
    font-weight: 400;
    font-size: 20px;
}

.collapse-text {
    font-weight: 400;
}

.error-figures {
    font-size: 200px;
    font-weight: 700;
    @include mobile-only {
        font-size: 100px;
    }
    @include tablet-only {
        font-size: 100px;
    }
}

.error-text {
    font-size: 25px;
    @include mobile-only {
        font-size: 18px;
    }
}

.error-link {
    font-size: 15px;
}

.lodging-text {
    h1{
        font-size: 28px;
        @include mobile-only {
            font-size: 20px;
        }
    }
    h2{
        font-size: 18px;
        font-weight: 400;
        @include mobile-only {
            font-size: 14px;
        }
    }
}

.tags-element {
    font-size:14px;
    font-weight: 400;
    @include mobile-only {
        font-size: 12px;
    }
}

.lodging-profile p {
    font-weight: 400;
}

li {
    font-weight: 400;
}