@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Overpass:wght@400;700&display=swap');

* {
    font-family: 'Montserrat';
}

nav {
    font-size: 24px;
}

h1 {
    font-weight: 500;
    font-size: 36px;
}

.card-title {
    font-size: 18px;
    width: 100%;
    margin: 0;
}