.footer-title {
    color: $text-color;
    padding-top: 34px;
    @include mobile-only {
        padding-bottom: 30px;
        font-size: 12px;
    }
    @include tablet-only {
        padding-bottom: 30px;
        font-size: 12px;
    }
}

.white_logo {
    height: 30px;
}