.pink_logo {
    margin-left:0%;
    @include mobile-only {
        height: 34px;
    }
    @include tablet-only {
        height: 42px;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
        text-decoration: none;
        border-bottom: transparent solid 2px;
        margin-left: -14%;
        &:hover {
            border-bottom: $primary-color solid 2px;
        }
    } 
    .log-btn {
        @include log-btn;
        color: white;
    }
    @include mobile-only {
        font-size: 12px;
        margin-left: 0px;
    }
    @include tablet-only {
        font-size: 16px;
       a {
        margin-left: -6%;
       }
    }
}