.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:3% 5%;
}

.banner-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.page-container {
    margin:3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    background-color: $background-color;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    margin-top: 2%;
}

.collapse-container {
    width: 76%;
    height: auto;
    margin-top:2%;
    border-radius: 5px;
    @include mobile-only {
        width: 100%;
    }
    @include tablet-only {
        width: 100%;
    }
}

.error-container {
    display: flex;
    justify-content: center;
}

.footer-container {
    background-color: $footer-color;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px 0px 30px 0px;
}

.slider-container {
    width: 100%;
    height: 400px;
    border-radius: 25px;
    position: relative;
    @include mobile-only {
        height: 300px;
        border-radius: 10px;
    }
}

.lodging-text-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    @include mobile-only {
        flex-direction: column;
    }
}

.tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.collapse-container-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 6%;
    margin-top: 2%;
    .collapse{
        font-weight: 400;
        flex:1;
    }
    @include mobile-only {
        flex-direction: column;
    }
    @include tablet-only {
        flex-direction: column;
    }
}

