.pink_logo {
    margin-left:0%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration: none;
        margin-left: 30px;
        border-bottom: transparent solid 2px;
        &:hover {
            border-bottom: $primary-color solid 2px;
        }
    } 
}